<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Show</title>
</head>
<body>
    <div class="container theme-showcase" role="main">

        <div class="jumbotron">
            <h1>Guest Book</h1>
            <a type="button" class="btn btn-link" href="{{ url_for('index') }}">Sing the Guest Book</a>
        </div>

        {% for student in students %}
        <div class="page-header">
            <h1>{{ student.id }}</h1>
        </div>
        <div class="well">
            <p>{{ student.f_name }}</p>
            <p>{{ student.l_name }}</p>
            <p>{{ student.e_mail }}</p>
        </div>
        {% endfor %}

    </div><!-- /container -->


</body>
</html>